body {
    font-family: 'Lato', sans-serif!important;
}


/* Nav: */
.sticky-topbar {
    width: 100%;
}

.custom-topbar {
    background-color:rgba(255,255,255,0.1)!important;
    padding:0px !important;
}

/* Body and common styling: */
.wrapper {
    float: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
}

.hbar-right {
    background-color: #bf9000;
    height: 10px;
    margin: 30px 0 50px 0px;
}

.hbar-center {
    background-color: #fff;
    color: #fff;
}

.vbar {
    background-color: #bf9000;
    height: 2calc(100vh * .8);;
    width: 8px;
    margin: 30px 15px 50px 0px;
}

.large-font {
    font-size: 50px;
    font-family: 'Lato', sans-serif!important;
}

.medium-font {
    font-size: 40px;
    font-family: 'Lato', sans-serif!important;
}


/* Greeting/splash: */
.greeting {
    margin: 30px 0;
    height: calc(100vh * .8);
    /* border: 1px solid black; */
}

.greeting-two {
    /* border: 1px solid black; */
    padding: 15px;
    background-color: #e7cd3b;
    margin: 30px 0;
    height: calc(100vh * .7);
    color: #fff;
}

.greeting-message {
    /* border: 1px solid black; */
    position: relative;
    margin: 30px 0;
    height: calc(100vh * .7);
}

.greeting-two-small {
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color:rgb(58, 55, 55);
    font-weight: 700;
    padding:10px 20px;
}

.greeting-font {
    font-size: 28px;
    font-family: 'Lato', sans-serif!important;
}


/* Current activity and grid: */
.current {
    margin: 30px 0 40px 0;
    height: calc(100vh * .8);
    /* border: 1px solid black; */
}

.current-grid {
    margin: 10px;
}

.current-wrapper {
    margin: 25px 0 0 0;
    display: grid;
    background-color: darkgray;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-template-rows: 100px 100px 100px;
}
.current-project { 
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.commits {
    background-color: pink;
    grid-column: 1;
    grid-row: 1 / 4;
}
.last-project {
    background-color: grey;
    grid-column: 3;
    grid-row: 1;
}
.check-message {
    background-color: yellow;
    grid-column: 2 / 4;
    grid-row: 3;
}
.next-project {
    background-color: lightblue;
    grid-column: 3;
    grid-row: 2;
}

.current-message {
    padding: 20px 0;
}

.custom-grid {
    /* border: 1px solid black; */
}


/* Portfolio section and cards: */

.portfolio {
    margin: 60px 0 0 0;
    height: calc(100vh * .8);
    /* border: 1px solid black; */
}

.portfolio-grid {
    margin: 20px 0 0 0;
    overflow-y:scroll;
    height:500px;
}

.custom-card {
    border: none;
    /* max-width: 320px;
    min-width: 200px; */
    margin: 15px;
}

.card-header {
    padding: 10px 0;
    background-color: #fff;
    font-size: 20px;
}

.card-image {
    height: 120px;
}

.card-descrip {
    padding: 10px 0;
    background-color: #fff;
    font-size: 16px;
}


/* Customized Scrollbar: */
.portfolio-grid::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

.portfolio-grid::-webkit-scrollbar-track {
    background-color:#fff
}

.portfolio-grid::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff;
    /* height: 60px;; */
}

.portfolio-grid::-webkit-scrollbar-button {display:none}



/* Portfolio page: */
.links {
    padding: 0 0 20px 15px;
}

.info-block {
    height:150px;
    width:150px;
    margin:15px;
    border: 1px solid grey;
    text-align: center;
}

.info-blurb {
    margin:15px;
}



/* Media queries: */


@media only screen and (max-width: 640px) {
    .current-wrapper {
       display: block;
       /* margin: 25px 0 50px 0; */

    }
    .current-grid {
        margin: 0 !important;
    }
    .portfolio {
        margin: 300px 0 0 0;
        height: calc(100vh * .8);
        /* border: 1px solid black; */
    }

    .vbar {
        display: hidden;
    }

    .hbar-center {
        background-color: #bf9000;
        height: 10px;
        margin: 30px 0 50px 0px;
    }

}

