* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif!important;
    background-color: #fff;
    color: #555555;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}



/* Nav: */
.sticky-topbar {
    width: 100%;
}

.top-bar {
    background-color: #fff!important;
}
.custom-topbar {
    background-color:#fff!important;
    padding:0px !important;
    color:rgb(58, 55, 55);
}

.custom-topbar a{
    color:rgb(58, 55, 55);
    padding: 15px 0px;
    margin: 0 10px;
    font-size:18px; 
    font-weight: 600;
    font-family: 'Lato', sans-serif!important;
}

.nav-links a:hover {
    padding: 15px 0px 13px 0;
    border-bottom: 2px solid #e7cd3b;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 5px 0!important;
}



/* Body and common styling: */

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    float: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

.hidden {
    display: none;
}


/* font styling */

.large-font-white {
    font-size: 320%;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.large-font-yellow {
    font-size: 250%;
    color: #e7cd3b;
}

.large-font-black{
    font-size: 220%;
    color: rgb(71, 68, 68);
    letter-spacing: 1px;
    word-spacing: 3px;
}

.medium-font-yellow {
    font-size: 220%;
    color: #e7cd3b;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif!important;
    line-height: 1;
}



.medium-font-white {
    font-size: 220%;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif!important;
    line-height: 1;
}

.medium-font-black {
    font-size: 110%;
    color:rgb(58, 55, 55);
    font-weight: 600;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif!important;
}

.strong-medium-black {
    font-weight: 600;
    font-size: 24px;
    color:rgb(58, 55, 55);
    font-family: 'Lato', sans-serif!important;

}

.small-black-font {
    color:rgb(58, 55, 55);
    font-family: 'Lato', sans-serif!important;
}

.small-font-yellow {
    font-size: 150%;
    color: #e7cd3b;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif!important;
}

/* Greeting/splash: */
#splash {
    margin-bottom: 70px;
}
.greeting {
    margin: 30px 0;
    height: calc(100vh * .8);
}

.greeting-two {
    padding: 15px;
    background-color: #e7cd3b;
    margin: 30px 0;
    height: calc(100vh * .7);

}

.greeting-message {
    position: relative;
    margin: 30px 0;
    height: calc(100vh * .7);
}

.greeting-two-small {
    position: absolute;
    bottom: 0;
    padding:10px 20px;
}

/* skill divs */
.skill-icons {
    margin: 50px 0;
}

.skill-icon {
    max-width: 70px;
    max-height: 70px;
}


/* about section */
.about{
    margin: 70px 10px 70px 10px;
    padding: 40px 0;
}

.about-message {
    margin:0;
}

.about-grid {
    max-width: 90vw!important;
}

.icons {
    font-size: 18px;
    margin: 5px;
    font-weight: 600;
    color: rgb(58, 55, 55);
}

.info-link:hover {
    background-color: #e7cd3be0;
}

/* Current activity and grid: */
.current {
    margin: 70px 10px 70px 10px;
}

.current-wrapper {
    padding: 10px;
    margin-left: 40px;
}

.current-message {
    background-color: #e7cd3bd0;
    margin: 40px 0;
    padding: 60px 30px;
}

.current-message a{
    color: inherit;
    text-decoration: none;
}

.custom-card {
    border: none;
    max-width: 320px;
    min-width: 200px;
    margin: 15px;
    background-color: #e7cd3b52!important;
}

.mini-icon {
    height:30px;
    width:30px;
    margin: 0 15px;
}
/* 
.card-image {
    height: 120px;
} */


.card-descrip {
    padding: 10px 0;
    justify-content: space-between;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif!important;
}



/* Contact section */

#contact {
    margin: 50px 20px;

}

.contact-greeting {
    padding: 0 10px;
}

.contact-form {
    margin-top: 30px;
}

.contact-grid {
    padding: 25px 5px;
    margin: 30px 0;
    background-color: #e7cd3b;
}

.contact-field{
    border: none;
}

.custom-button {
    border-radius: 2px;
    background-color: rgb(99, 94, 94);
    color: #fff; 
}

.custom-button:hover {
    background-color: #fff;
    color: rgb(36, 34, 34); 
    border-radius: 2px;
}

/* Portfolio page: */

.port-header {
    padding: 15px;
    margin: 30px 0;
    background-color: #e7cd3b;
    height: calc(55vh);
}

.port-message {
    padding: 15px;
    position: relative;
}

.port-two-small {
    position: absolute;
    bottom: 2px;
}


.port-tags {
    margin-top: 30px 0!important; 
    padding: 22px!important;
}

.port-icons {
    padding-right: 10px;
    font-size: 22px;
    color: #555555;
}

.port-spacer {
    color:#e7cd3b; 
    margin: 0 8px;
}

.port-button {
    border: 2px solid #e7cd3b!important;
    color: #e7cd3b!important;
    border-radius: 5px;
    margin: 5px;
}

.port-button:hover {
    border: 2px solid #fff!important;
    background-color: #e7cd3b9f!important;
    color: #fff!important;
    border-radius: 5px;
    margin: 5px;
}

.selected {
    border: 2px solid #fff!important;
    background-color: #e7cd3b!important;
    color: #fff!important;
    border-radius: 5px;
    margin: 5px; 
}

.selected:hover {
    border: 2px solid #e7cd3b!important;
    color: #e7cd3b!important;
    border-radius: 5px;
    margin: 5px;
}


.port-fields {
    margin: 25px 0!important;
    background-color: #fff;
    justify-content: center;
}

.port-object {
    padding: 20px 10px;
}

.port-thumb {
    width: 165px;
    height: 110px;

}

.port-cards {
    margin-top: 50px;
}

.links {
    padding: 0 ;
}




/* Media queries: */

@media only screen and (max-width: 830px) {
    
    .greeting-two {
        height: calc(60vh)
    }

    .greeting-message {
        height: calc(55vh)
    }

    .greeting-two-small {
        position: absolute;
        bottom: -20px;
    }

    .current-wrapper {
       display: block;
    }

    .current {
        margin: 30px 35px 40px 35px;
        padding: 0px;
    }

    /* .current-message {
        margin: 20px 0;
        padding:10px;
    } */

    .port-button {
        padding: 5px;
    }

    .large-font-white {
        font-size: 220%;
    }
    

}    

@media only screen and (max-width: 700px) {

    .greeting-two {
        height: calc(50vh)
    }

    .greeting-message {
        height: calc(45vh)
    }

    .port-two-small {
        position: relative;
    }

    .port-cards {
        margin-top: 15px;
    }

    .media-object-section {
        text-align: center;
    }

    .port-thumb {
        width: 280px!important;
        height: 180px!important;
    }
}

@media only screen and (max-width: 640px) {
    .greeting-two {
        height: calc(50vh)
    }
    
    .greeting-two-small {
        top: 30px;
        padding: 10px;

    }

    .greeting-message {
        height: calc(30vh)
    }
    
    .skill-icons {
        margin:20px 0px;
    }

    .about-message {
        margin:20px 0;
    }

    .current {
        margin: 30px 15px 40px 15px;
        padding: 0px;
        background-color: rgba(19, 19, 16, 0);
    }
    
    .current-wrapper {
        margin-left: 0;
    }
    .current-grid {
        margin: 0 !important;
    }

    .medium-font-white {
        font-size: 180%;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'Lato', sans-serif!important;
        line-height: 1;
    }

    .large-font-white {
        font-size: 260%;
    }

    .portfolio {
        height: calc(100vh * .8);
    }

    .media-object-section {
        text-align: center;
    }

    .port-thumb {
        width: 280px;
        height: 180px;
    }

    .port-tags {
        padding: 0!important;
    }

    

}

@media only screen and (max-width: 400px) {

    .wrapper {
        padding: 0;
    }

    .custom-topbar a {
        font-size: 12px;
    }

    .current-wrapper {
        padding: 0;
        margin-left: 0;
    }

    .port-button {
        padding: 2px;
        margin: 3px;
    }

    .current-message {
        margin: 40px 0;
        padding: 30px 10px;
    }

    .medium-font-white {
        font-size: 150%;
        color: #fff;
        letter-spacing: 1px;
        font-family: 'Lato', sans-serif!important;
        line-height: 1;
    }

    .media-object-section {
        text-align: center;
    }

    .port-thumb {
        width: 220px!important;
        height: 140px!important;
    }

}

