* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif!important;
    background-color: #fff;
    color: #555555;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}



/* Nav: */
.sticky-topbar {
    width: 100%;
}

.top-bar {
    background-color: #fff!important;
}
.custom-topbar {
    background-color:#fff!important;
    padding:0px !important;
}

.custom-topbar a {
    color:rgb(58, 55, 55);
    padding: 10px 0px;
    margin: 0 10px;
    font-size:18px; 
    font-weight: 600;
    font-family: 'Lato', sans-serif!important;
}

.nav-links a:hover {
    padding: 10px 0px 8px 0;
    border-bottom: 2px solid #e7cd3b;
}


.logo {
    width: 40px;
    height: 40px;
}



/* Body and common styling: */

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    float: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}


/* font styling */

.large-font-white {
    font-size: 320%;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.large-font-orange {
    font-size: 250%;
    color: #e7cd3b;
}

.large-font-black{
    font-size: 220%;
    color: rgb(71, 68, 68);
    letter-spacing: 1px;
    word-spacing: 3px;
}

.medium-font-yellow {
    font-size: 220%;
    color: #e7cd3b;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif!important;
    line-height: 1;
}



.medium-font-white {
    font-size: 220%;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif!important;
    line-height: 1;
}


.medium-font-black {
    font-size: 110%;
    color:rgb(58, 55, 55);
    font-weight: 600;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif!important;
}


.strong-medium-black {
    font-weight: 600;
    font-size: 24px;
    color:rgb(58, 55, 55);
    font-family: 'Lato', sans-serif!important;

}


.small-black-font {
    color:rgb(58, 55, 55);
    font-family: 'Lato', sans-serif!important;
}

/* Greeting/splash: */
.greeting {
    margin: 30px 0;
    height: calc(100vh * .8);
    /* border: 1px solid black; */
}

.greeting-two {
    /* border: 1px solid black; */
    padding: 15px;
    background-color: #e7cd3b;
    margin: 30px 0;
    height: calc(100vh * .7);

}

.greeting-message {
    /* border: 1px solid black; */
    position: relative;
    margin: 30px 0;
    height: calc(100vh * .7);
}

.greeting-two-small {
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    padding:10px 20px;
}

/* skill divs */
.skill-icons {
    margin: 80px 0;
}

.skill-icon {
    max-width: 70px;
    max-height: 70px;
}


/* more info section */
.more-info {
    padding: 80px 10px;
}

.icons {
    font-size: 18px;
    margin: 5px;
    font-weight: 600;
    color: rgb(58, 55, 55);
}

/* Current activity and grid: */
.current {
    /* margin: 40px 35px 40px 35px; */
    padding: 15px;
    /* background-color: rgba(19, 19, 16, 0.075); */
    /* height: calc(100vh * .8); */
    /* border: 1px solid black; */
}

.current-wrapper {
    padding: 10px;
    margin-left: 40px;
}

.current-message {
    margin: 0 20px 60px 20px;
}

.custom-card {
    border: none;
    max-width: 320px;
    min-width: 200px;
    margin: 15px;
    background-color: #e7cd3b52!important;
}

.mini-icon {
    height:30px;
    width:30px;
    margin: 0 15px;
}
/* 
.card-image {
    height: 120px;
} */


.card-descrip {
    padding: 10px 0;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif!important;
}



/* Contact section */

#contact {
    margin: 50px 20px;
}

.contact-form {
    margin-top: 30px;
}

.contact-grid {
    padding: 25px 15px;
    background-color: #e7cd3be0;
    margin: 30px 0;
    /* height: calc(100vh * .7); */
}  

.custom-button {
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.411);
    color: black; 
}



/* Portfolio page: */
.links {
    padding: 0 0 20px 15px;
}

.info-block {
    height:150px;
    width:150px;
    margin:15px;
    border: 1px solid grey;
    text-align: center;
}

.info-blurb {
    margin:15px;
}



/* Media queries: */

@media only screen and (max-width: 830px) {
    

    .current-wrapper {
       display: block;
       /* margin: 0 35px; */
    }

    .current {
        margin: 30px 35px 40px 35px;
        padding: 0px;
    }

    .current-message {
        margin: 20px 0;
        padding:10px;
    }
}    


@media only screen and (max-width: 640px) {
    .greeting-two {
        height: calc(50vh)
    }
    
    .greeting-two-small {
        top: 30px;
    }

    .greeting-message {
        height: calc(45vh)
    }
    
    .skill-icons {
        margin-top:10px;
    }

    .current {
        margin: 30px 15px 40px 15px;
        padding: 0px;
        background-color: rgba(19, 19, 16, 0);
    }

    .current-grid {
        margin: 0 !important;
    }



    .current-message {
        margin: 0;
    
    }
    .portfolio {
        /* margin: 300px 0 0 0; */
        height: calc(100vh * .8);
        /* border: 1px solid black; */
    }


}

